node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# firebase config
firebase.js
firebaseAuth.js
config.js

# vsCode .history folder
.history/

# logs
yarn-error.log

# vscode / idea related modules
.vscode/
.idea/